:root{
    --tittle-color:#322153;
    --pesqcoleta-color:#34cb79;
    --backpage-color:#f0f0f5;
}
/* *{}=> refere-se a todos os elementos 
contidos na pagina
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--backpage-color);
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--tittle-color);
    font-family: 'Ubuntu', sans-serif;
}
